.imageElement--cover {
    object-fit: cover;
  }

.vtex-store-components-3-x-imageElement {
  max-width: 1260px;
  margin: 0 auto;
  
}

  .infoCardHeadline {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.15rem;
  font-weight: normal;
  color: rgb(46, 171, 73);
  border: 2px solid rgb(2, 60, 26);
  border-radius: 25px;
  padding: 24px;
}

.infoCardSubhead {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.40rem;
  font-weight: normal;
}

.infoCardCallActionText {
  font-size: 2.25rem;
  font-weight: normal;
}

.infoCardContainer {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
  
}

/*.infoCardImage {
  margin: 0 auto;
  padding: 0;
  height: 480px;
}*/